# venv
.venv/
venv/
.env/
models/
Archive/
__pycache__/

# training logs / checkpoints
darts_logs/
lightning_logs/
**/darts_logs/
**/checkpoints/
*.ckpt
*.pt.ckpt
**/*.db

# (optional) large model weights
models/*.pt
models/*.pth
models/*.ckpt
models/*.pt.ckpt
NAMLSS

**/*.ipynb
**/*.html
**/*.json
**/*.err
**/*.log

# for the .csv files in data folde
/*.csv

# # for the .csv anywhere
# **/*.csv  
#allow school holidays csv
!school_holidays.csv

#allow benchmark_runner
!hpo_runner.ipynb
!benchmark_comparator.ipynb
!heat_benchmark_runner.ipynb
!water_benchmark_runner.ipynb
!nordbyen_heat_benchmark/notebooks/thesis_viz_heteroscedasticity_analysis.ipynb
!nordbyen_heat_benchmark/results/final-stored-results/without-cqr/**/*.html
!nordbyen_heat_benchmark/results/final-stored-results/without-cqr/**/*.json
!water_centrum_benchmark/results/final-stored-results/without-cqr/**/*.html
!water_centrum_benchmark/results/final-stored-results/without-cqr/**/*.json
!water_tommerby_benchmark/results/final-stored-results/without-cqr/**/*.html
!water_tommerby_benchmark/results/final-stored-results/without-cqr/**/*.json
!nordbyen_heat_benchmark/results/final-stored-results/with_cqr/**/*.html
!nordbyen_heat_benchmark/results/final-stored-results/with_cqr/**/*.json
!water_centrum_benchmark/results/final-stored-results/with-cqr/**/*.html
!water_centrum_benchmark/results/final-stored-results/with-cqr/**/*.json
!water_tommerby_benchmark/results/final-stored-results/with-cqr/**/*.html
!water_tommerby_benchmark/results/final-stored-results/with_cqr/**/*.json
!hpo/results/**/*.json
!hpo/results/**/*.html

